{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "tabWidth": 2,
  "printWidth": 80,

  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "next/(.*)$",
    "^@headlessui/(.*)$|^react-icons/(.*)$",
    "^react-icons/(.*)$",
    "@/app/(.*)$",
    "@/api/(.*)$",
    "@/contexts/(.*)$",
    "@/database/(.*)$",
    "@/components/(.*)$",
    "@/utils/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
